In [1]:
import pandas as pd
#data structuures of pandas: 1.Series, 2.Data frame
#series: it is basically 1d labeled array
#datafreame: 2d labeled array

In [3]:
info = {
    "Name" : ["Shradha", "Rahul", "Nikita"],
    "CGPA" : [8.0, 9.6, 9.9]
}

studentData= pd.DataFrame(info)

In [4]:
studentData

      Name  CGPA
0  shradha   8.0
1    Rahul   9.6
2   Nikita   9.9